{% extends "core/base.html" %} 
{% load static %}
{% block content %}



<div class="container-fluid d-flex align-items-center justify-content-center">
  <!-- Sign In Form with Split Background -->
  <div class="change-password-background position-relative " style="background: linear-gradient(to bottom, #005494 50%, white 50%);">

          <div class="d-flex justify-content-center"><span class="text-white text-center fw-bold fs-6"> Elephant <br>Please</span>

            <img src="{% static 'core/images/elephant.png' %}" style="max-width: 50px; width: auto; height: 50px;color:white;">

          </div>
      <div class="row d-flex align-items-center justify-content-center">

          <form class="change-password-bg  py-lg-5 px-lg-5  py-md-4 px-md-4  py-sm-3 px-sm-3  mt-4">
              <h2 class="text-black text-center  mb-2">Reset Password</h2>
               
              <div class="user-box">
                <input required="" name="" type="email">
                <label>Current Password</label>
              </div>

              <div class="user-box">
                  <input required="" name="" type="email">
                  <label> New Password</label>
                </div>

                <div class="user-box">
                    <input required="" name="" type="email">
                    <label>Confirm New Password</label>
                  </div>

              <button type="submit" class="btn sign-in-btn w-100 text-white">Reset Password</button>

                  
          </form>
      </div>
    
  </div>
</div>

{% endblock content %}



 