{% load static %}
<footer>
    <div class="container-fluid pt-5">
    <div style="background-color: #ECF7FF;">
      <div class="container py-5">
          
        <div class="row">
           
           <div class="col-lg-5 col-md-12">
               <div class="footer-logo"><img src="{% static 'core/images/logo.png' %}"></div>
               <p class="text-left pt-5 footer-para">Elephant Please was established in 2021 to alleviate and bring awareness to excessive purchasing, over spending and its effect on climate change. Elephant Please is a member of Revision AI Limited.</p>
               <div class="social-media list-style-none">
                      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-youtube"></i></a>
                      <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
               </div>
    
           </div>
    
           <div class="col-lg-2 f-col2 pt-4 col-md-6">
              <a href="#"><h5 class="text-center text-blue ">Elephant Please</h5></a>
              <a href="#"><p class="text-center text-black ">How renting works</p></a>
              <a href="#"><p class="text-center text-black ">How Lending works</p></a>
              <a href="#"><p class="text-center text-black ">FAQs</p></a>
    
           </div>
    
           <div class="col-lg-2 f-col3 pt-5 col-md-6">
              
              <a href="#"><p class="text-center text-black ">Terms of use</p></a>
              <a href="#"><p class="text-center text-black ">Privacy policy</p></a>
           </div>
        </div>
    
        <div class="col-lg-3 "></div>
    
      </div>
           <div class="container-fluid">
            <div class="row">
              <div style="background-color:#BCE0F5;">
                 <p class="text-center text-black">&copy;Elephant Please 2024</p>
              </div>
            </div>
          </div>
    </div>
    </div>
    </footer>