{% extends "core/base.html" %} 
{% load static %}

{% block content %}
<div class="container">

   <div class="row pb-2">
      <div class="col-md-12">
        <p><a href="{% url 'home' %}" style="text-decoration:none;color:#005494;"> Home</a> &gt; <a href="{%  url 'rent' %}" style="text-decoration:none;color:#005494;">How Renting works</a></p>
      </div>
   </div>


   <div class="row">

       <div class="col-md-12 ">

         <div class="bg-blue pt-5" style="background-color: rgb(10,91,152); border-radius: 25px;height:320px; " >
             <h1 class="text-center text-white fw-bold fs-1 pt-5">Rent to save and be green</h1>
             <p  class="text-center text-white pt-3">Rent a Camera from a fellow photographer in Hong Kong. Over 50%<br> Cheaper Than Traditional Rental Spend less & Enjoy more</p>
          </div>
        </div>
   </div>


   <div class="row mt-5">
        <div class="col-md-6 mt-5">
             <h1 class="text-black fs-2">Before the Rental</h1>
             <p class="p1"><span class="text-primary">Find an item: </span> Search for the desired item and filter by <br>category and location.</p>
             <p class="p1"><span class="text-primary">Request and wait: </span>Send a request to the lender and <br>wait for the lender to confirm your request.</p>
             <p class="p1"><span class="text-primary">Arrange handover:</span>Use the chat function to arrange a convenient time.</p>
        </div>

        <div class="col-md-6">
            <div class="position-relative">
                <!-- First image as the background -->
                 <img src="{% static 'core/images/Bg.png' %}" class="img-fluid position-absolute bottom-0 start-0 rent-bg" style="z-index: 1;" alt="First Background">
            
                  <!-- Second image , on top of the first -->
                   <img src="{% static 'core/images/rent1.png' %}" class="img-fluid position-relative d-block  rent1" style="z-index: 2;" alt="Second Background">

            </div>
            
        </div>
   </div>

   

   <div class="row mt-5">

       <div class="col-md-6">
           <div class="position-relative">
               <!-- First image as the background -->
                <img src="{% static 'core/images/Bg.png' %}" class="img-fluid position-absolute bottom-0 start-0 rent-bg" style="z-index: 1;" alt="First Background">
        
               <!-- Second image , on top of the first -->
               <img src="{% static 'core/images/rent2.png' %}" class="img-fluid position-relative d-block  rent1" style="z-index: 2;" alt="Second Background">

            </div>
        
       </div>


      <div class="col-md-6 mt-5 during-rental" style="">
           <h1 class="text-black fs-2">During the Rental</h1>
           <p class="p1"><span class="text-primary">Enjoy your rental: </span> Make the most of your time with the item. Have fun!</p>
           <p class="p1"><span class="text-primary">Take good care: </span>Use and treat the item as you would if it was your own.</p>
           <p class="p1"><span class="text-primary">Return on time:</span>To avoid surcharges and penalties, return the item on time. Message the lender and request if you would like the item for a few more days.
           </p>
      </div>
   </div>




   
   <div class="row mt-5">
       <div class="col-md-6 mt-5">
          <h1 class="text-black fs-2">After the Rental</h1>
          <p class="p1"><span class="text-primary">Rate the lender: </span> Take this opportunity and review the lender for other members of the community.</p>
          <p class="p1"><span class="text-primary">Repeat: </span>Search and rent again!</p>
          
       </div>

      <div class="col-md-6">
            <div class="position-relative">
                <!-- First image as the background -->
                <img src="{% static 'core/images/Bg.png' %}" class="img-fluid position-absolute bottom-0 start-0 rent-bg" style="z-index: 1;" alt="First Background">
        
              <!-- Second image , on top of the first -->
               <img src="{% static 'core/images/rent3.png' %}" class="img-fluid position-relative d-block  rent1" style="z-index: 2;" alt="Second Background">

            </div>
        </div>
    </div>


     
    <div class="row mt-5">

      <div class="col-md-6">
          <div class="position-relative">
              <!-- First image as the background -->
               <img src="{% static 'core/images/Bg.png' %}" class="img-fluid position-absolute bottom-0 start-0 rent-bg" style="z-index: 1;" alt="First Background">
     
               <!-- Second image , on top of the first -->
               <img src="{% static 'core/images/rent4.png' %}" class="img-fluid position-relative d-block  rent1" style="z-index: 2;" alt="Second Background">
           </div>
       </div>


      <div class="col-md-6 mt-5 during-rental" style="">
           <h1 class="text-black fs-2">Play your Part</h1>
           <p class="p1">Renting on Elephant Please isn't just convenient and cost-saving. By purchasing less and renting more, you're also contributing to a circular economy, making better use of resources and helping to protect this wonderful planet we call home.</p>
           <div class="d-flex justify-content-end ">
            <button class="btn btn-md sr-btn ">Search and Rent</button>
           </div>
        </div>

    </div>



   
</div>

{% endblock content %}
