/*navbar css starts here*/

@media(max-width: 576px){
	.navbar-brand{
		margin-left: 150px;
	}
	.nav-left{
		margin-left: 165px;
	}
	.buttons{
		max-width: 80px!important;
		margin-left: 100px;
	}
}
.buttons{
padding-left: 20px;
	padding-right: 20px;
}
.btn1{
   border: 1px black;
   border-radius: 14px;

   	
}

.btn2{
   background-color: #ffffff;
   border: 1px black;
   color:rgb(10,91,152);
   border-radius: 14px;
}

/*navbar css ends here*/


/*rest of the css here*/
.sideimg{
	max-width: 600px;
	width:100%;
	height: fit-content;
	margin-top: -150px;
	position: absolute;
	right: 0%;
	z-index: -1;
}

.firstparah1{
	font:  monospace;
	font-size: 45px;
	font-weight: bold;
	line-height: 60px;
}

.firstparah1 span{
	color: #005494;
	font:  monospace;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
}

/*.firstparap{
	margin-top: 20px;
font-family: monospace;
font-size: 20px;
font-weight: 200;
line-height: 34.28px;
text-align: left;
color:  #4A525A;
}*/


.form-nav {
	border: none;
	border-radius: 12px;
	background-color: #ffffff;
	color: grey;
	box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
	/* width: 35%; Adjusted width */
   /* min-width: 200px;  Ensures a minimum width on very small screens */
  }

  .form-nav button {
	border-radius: 12px;
	background-color: #005494;
	max-width: 80px;
	width: 100%;
  }

  .form-nav input {
	border: none;
  }

/*.form button{
	border-radius: 12px;
}

.form input{
	border:  none;
	background-color: white;
	color: black;
	 box-shadow: 20px 20px 60px #c5c5c5,
		-20px -20px 60px #ffffff;
}*/

.list-item-btn{
   border: 1px solid black;
	color: #005494;
	border-radius: 2px;
	margin-left: 20px;
}

@media(max-width: 786px){
	.sideimg{
     display: none;
	}
}

@media(max-width: 986px){
	.sideimg{
    max-width: 400px;
	width:100%;
	height: 700px;
	}
}
/*...........................*/

.row2{
   margin-top: 200px;
}

.img1{
	max-width: 60px;
	width: 100%;
	height: 60px;

}
.img2{
	display: flex;
	align-items: right;
	justify-content: right!important;
}


.content{
	text-align: center;
}

/*...........................*/

.bg-img1{
max-width: 503px;
width: 100%;
height: 379px;
}

.bg-img2{
max-width: 503px;
width: 100%;
height: 379px;
}

.bg-img3{
max-width: 311px;
width: 100%;
height: 318px;
}

/*...........................*/
.row3{
	margin-top: 200px;
}

.rent-link{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.para1{
	color: #4A525A;
	font-size: 18px;
	line-height: 1.5;
}

@media(max-width: 786px){
	.bg-img2{
		position: absolute;
		top: 0;
		bottom: 0;
	}
}

@media(max-width: 786px){
	.lend-col{
		margin-top: 80px;
	}
}

/*...........................*/

.row4{
	margin-top: 200px;
}

.view-all-btn{

	text-decoration: none;
	color: #005494CC;
	border:2px solid #005494CC;
	border-radius: 12px;
}

/*...........................*/
.pic1{
	max-width: 650px;
	width: 100%;
	height: 500px;
  }
  .pic1 img{
	max-width: 650px;
	width: 100%;
	height: 500px;
  }
  .pics2,.pics3,.pics4{
	display: flex;
	flex-direction: column;
  }
  
  .pics2 img{
	max-width: 300px;
	width: 100%;
	height: 250px;
	object-fit: cover;
  }
  
  .pics3 img{
	max-width: 300px;
	width: 100%;
	height: 250px;
	object-fit: cover;
  }
  
  .pics4 img{
	max-width: 300px;
	width: 100%;
	height: 250px;
	  object-fit: cover;
  }
/*...........................*/

.mobile-img{
	max-width: 1000px;
	width: 100%;
	height: auto;
}
@media (max-width: 768px) {
    .mobileh1h1 {
        font-size: 1.5rem; 
    }

    .mobilepara {
        font-size: 1rem; 
    }

    .mobile-img {
        max-width: 320px;
    }
}

@media (max-width: 576px) {
    .mobileh1 {
        font-size: 1rem; 
    }

    .mobilepara {
        font-size: 0.9rem; 
    }

    .mobile-img {
        max-width: 270px; 
    }
}

/*...........................*/

.review-img img{
	max-width: 350px;
	width: 100%;
	max-height: 270px;
	height: auto;
}

/*---------------------*/

/*footer css starts here*/
.footer-logo img{
	max-width: 150px;
   width: auto;
    height: 50px;
}

.social-media a{
	color: grey;
	padding-left: 15px;
	padding-right: 15px;
}

.social-media a:nth-child(2){

	background-color: #005494CC;
	border-radius: 50%;
	max-width: 50px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.f-col2 a,.f-col3 a{
   text-decoration: none;
}
/*footer css ends here*/
/*Rent.html css starts here*/

.p1{
	color: lightslategray !important;
}
.rent-bg {
    max-width: 350px !important;
	height: 300px;
}

.rent1 {
	max-width: 442px;
	width: 100%;
	height: 333px;
}

.sr-btn{
	background-color: rgb(10,91,152);
    color: white;
	max-width: 150px;
	width: 100%;
	height: 60px;
	border-radius: 14px;
}

.sr-btn:hover{
	cursor: pointer;
	background-color: rgb(10,91,152);
	color: white;
}

/*search page css starts here*/
.category{
	max-width: 250px;
	height: 250px;
}

@media(max-width:576px){
	.category-col{
	   display: flex;
	   justify-content: center;
	}
}	

/*Sign in form css starts here*/
.split-background{
	padding: 2rem;
	border:0px;
	border-radius: 28px;
	max-width: 800px;
	width: 100%;
	height: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media(max-width:576px){
	.split-background{
		width: 100vw;
	}
	.form-bg{
		width: 100vw;
	}
}

.form-bg{
	background-color: #ffffff;
	max-width: 480px;
	height: 580px;
	border-radius: 14px;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
}


 .user-box {
	position: relative;
  }
  
 .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	background: transparent;
  }
  
 .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #6D6D6D;
	pointer-events: none;
	transition: .5s;
  }
  
  .user-box input:focus ~ label,
 .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: black;
	font-size: 12px;
  }


.sign-in-btn{
	background-color:#005494 ;
}

.forget-p{
	text-decoration: none;
	color: #005494;
}


.social-icons {
	display: flex;
	justify-content: center;
	gap: 10px;
  }

  .social-icons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 1px;
	
	text-decoration: none;
  }

 


  .social-icons a.facebook {
	color: #4267B2; /* Facebook Blue */
  }

  .social-icons a.twitter {
	color: #1DA1F2; /* Twitter Blue */
  }
/*---------------------------------------------Forget password page css starts here---------------------------------------------*/
  
.password-background{
	padding: 2rem;
	border:0px;
	border-radius: 28px;
	max-width: 800px;
	width: 100%;
	height: 500px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-bg{
	background-color: #ffffff;
	max-width: 480px;
	height: 300px;
	border-radius: 14px;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
}
/*---------------------------------------------Reset password page css starts here---------------------------------------------*/
.password-reset-bg{
	background-color: #ffffff;
	max-width: 480px;
	height: 350px;
	border-radius: 14px;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
}
/*---------------------------------------------Change password page css starts here---------------------------------------------*/

.change-password-bg{
	background-color: #ffffff;
	max-width: 480px;
	height: 400px;
	border-radius: 14px;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
}

.change-password-background{
	padding: 2rem;
	border:0px;
	border-radius: 28px;
	max-width: 800px;
	width: 100%;
	height: 550px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}